.section {
    /* position: absolute;
    top: 178px;
    left: 124px; */
}

.section-link {
    display: inline-block;
}

.section-link__text {
    display: flex;
    color: #1C5CFF;
    font-family: Inter;
    font-size: 18px;
    text-decoration: none;
    border-bottom: 1px solid #1C5CFF;
}

.section-link__arrow {
    width: 22px;
    height: 22px;
    /* position: relative; */
    /* top: 50%;
    margin-top: -11px;*/
}

.section__title {
    color: #1E1E1E;
    font-family: Inter;
    font-size: 52px;
    line-height: 136%;
    position: relative;
    top: 28px;
}

.section__text {
    color: #7D7D7D;
    font-family: Inter;
    font-size: 18px;
    /* position: absolute;
    top: 136px;*/
}

.section__search {
    width: 448px;
    height: 48px;
    border-radius: 66px;
    border: 1px solid #DADADA;
    background: #FFF;
    position: absolute;
    top: 298px;
    left: 1022px;
}

hr {
    width: 1496px;
    height: 1px;
    background: #E3E3E3;
    position: absolute;
    top: 388px;
    left: 124px;
}

.content-menu {
    display: flex;
    flex-direction: column;
    gap: 9px;
    position: absolute;
    left: 208px;
    top: 538px;
    margin-top: 225px;
}

.block-1 {
    position: relative;
    bottom: 48px;
}

.brand-text {
    color: #1C5CFF;
    font-family: Inter;
    font-size: 18px;
    position: relative;
    bottom: 27px;
}

.common-text {
    color: #1E1E1E;
    font-family: Inter;
    font-size: 16px;
    position: relative;
}

.trending {
    position: absolute;
    top: 432px;
    margin-top: 32px;
    left: 670px;
}

.trending__border {
    display: inline-flex;
    padding: 6px 16px;
    align-items: flex-start;
    gap: 9px;
    border-radius: 29px;
    border: 1px solid #C9C9C9;
    background: #FFF;
}

.trending__element {
    color: #797979;
    font-family: Inter;
    font-size: 15px;
}