.button {
    all: unset;
    display: block;
    width: 100%;
    border-radius: 5px;
    background: #1C5CFF;
    color: #FFF;
    font-size: 15px;
    text-decoration: none;
    padding: 16px 8px;
    text-align: center;
    cursor: pointer;
}

.button_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.button__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 2px;
    background: #3D74FF;
}

.button__text {}

.button__icon-arrow {
    width: 18px;
    height: 18px;
}