.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    padding-right: 36px;
}

.header__search {
    padding: 0 36px;
}

.header__menu {
    padding-left: 56px;
}

.header__hiring {
    padding: 0 8px;
}

.header__button {
    padding-left: 72px;
}

.logo {
    display: flex;
}

.logo__text {
    color: #1E1E1E;
    font-size: 28px;
    width: 97px;
    height: 33px;
    padding-left: 8px;
}

.logo__circle {
    width: 35px;
    height: 35px;
    border-radius: 17px;
    background: #1C5CFF;
    position: relative;
}

.logo__small-circle {
    width: 16x;
    height: 16px;
    fill: #779DFF;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    top: 2px;
}

.line-menu {
    display: flex;
    gap: 52px;
}

.line-menu__item {
    color: #969696;
    font-family: Inter;
    font-size: 15px;
    line-height: normal;
}

.line-menu__item_active {
    color: #0D0D0D;
    font-family: Inter;
    font-size: 15px;
    line-height: normal;
}

.hiring {
    width: 42px;
    height: 14px;
    border-radius: 7px;
    background: #1C5CFF;
    color: #FFF;
    font-size: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-button {
    width: 160px;
    height: 46px;
    border-radius: 5px;
    background: #1C5CFF;

}

.header-button__text {
    color: #FFF;
    font-size: 15px;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.header-button__square {
    width: 24px;
    height: 24px;
    border-radius: 2px;
    background: #3D74FF;
}

.header-button__arrow {
    width: 18px;
    height: 18px;
}