.menu {}

.brand-text {
    color: #1C5CFF;
    font-size: 18px;
    padding-top: 48px;
    padding-bottom: 18px;
}

.common-text {
    color: #1E1E1E;
    font-size: 16px;
    position: relative;
    margin-top: 9px;
    margin-bottom: 9px;
}