.menu-block {
    width: 25%;
}

.menu {

    /* padding-top: 150px;
    padding-left: 208px;
    gap: 9px; */
}

/* .menu-2 {
    padding-top: 48px;
    padding-left: 208px;
    gap: 9px;
} */

.brand-text {
    color: #1C5CFF;
    font-size: 18px;
    padding-bottom: 18px;
}

.common-text {
    color: #1E1E1E;
    font-size: 16px;
    position: relative;
    margin-top: 9px;
    margin-bottom: 9px;
}