.posts {

}

.post {
    display: flex;

}

/* .post {
    position: absolute;
    left: 545px;
    top: 930px;
} */

.post__date {
    color: #1C5CFF;
    font-size: 15px;
    padding-bottom: 16px;
}

.post__title {
    color: #1E1E1E;
    font-size: 30px;
    padding-bottom: 26px;
}

.post__text {
    color: #7D7D7D;
    font-size: 15px;
    padding-bottom: 30px;
}

.post-footer {
    display: flex;
    align-items: center;
}

.post-footer__trending {
    color: #797979;
    font-size: 15px;
    display: inline-flex;
    padding: 7px 16px;
    align-items: flex-start;
    gap: 9px;
    border-radius: 29px;
    border: 1px solid #C9C9C9;
    background: #FFF;
    margin-right: 22px;
}

.post-footer__author {
    color: #797979;
    font-size: 15px;
    padding-right: 15px;
}

.post-footer__point {
    width: 8px;
    height: 8px;
    fill: #797979;
    top: 50%;
    margin-top: -12px;
    padding-right: 15px;
}

.post-footer__min-read {
    color: #1C5CFF;
    font-size: 15px;
}

.post__content {}

.post__image {
    width: 249px;
    height: 258px;
    border: 1px solid #C9C9C9;
    background: #1C5CFF;
    position: relative;
    /* left: 1080px;
    top: 568px; */
}

/* .image {
    width: 249px;
    height: 258px;
    border: 1px solid #C9C9C9;
    background: #1C5CFF;
    position: absolute;
    left: 1076px;
    top: 928px;
} */
/* 
.image-circle {
    position: absolute;
    top: 17px;
} */

.post__image-arc {
    position: absolute;
    bottom: 13px;
    left: 58px;
}

.post__image-circle {
    position: absolute;
    left: 26px;
    top: 92px;
}

.overflow {
    position: absolute;
    top: 437px;
    right: 125px;
    width: 15px;
    height: 826px;
    background: #D9D9D9;
}

.overflow-scroll {
    width: 15px;
    height: 99px;
    border-radius: 10px;
    background: #797979;
    margin-top: 12px;
}

.overflow-scroll::-webkit-scrollbar-button {
    width: 10px;
    height: 10px;
}

.overflow-scroll::-webkit-scrollbar-thumb {
    width: 15px;
    height: 99px;
    border-radius: 10px;
    background: #797979;
}